<main>
    <div class="logo-and-title-container">
        <div id="infinity">
            <svg class="drop-left" width="30%" viewbox="0 0 20 42">
                <path fill="#C365A5" stroke="transparent" d="M15 3
                         Q16.5 6.8 25 18
                         A12.8 12.8 0 1 1 5 18
                         Q13.5 6.8 15 3z" />
            </svg>
            <svg class="drop-right" width="30%" viewbox="0 0 30 42">
                <path fill="#C365A5" stroke="transparent" d="M15 3
                         Q16.5 6.8 25 18
                         A12.8 12.8 0 1 1 5 18
                         Q13.5 6.8 15 3z" />
            </svg>
        </div>
        <div class="title-container">
            <h1>LILI&nbsp;<span>CHAT<span class="title-bot">BOT</span></span></h1>
        </div>
        <button class="talk-button">TALK</button>
    </div>
</main>

<aside>
    <img src="../../assets/1.png" alt="image" class="side-image"/>
</aside>